<div class="payment-wrapper">
  <div><span class="field">{{startingDateStr}}</span></div>
  <div>Starting Balance: <span class="field">{{startingBalance}}</span></div>
</div>
{{#each plan as |pointInTime|}}
  <div class="payment-wrapper">
    <div><span class="field">{{pointInTime.dateString}}</span></div>
    <div>Payment: <span class="field">{{pointInTime.payment}}</span></div>
    <div>Payments Left: <span class="field">{{pointInTime.paymentsLeft}}</span></div>
    <div>Balance: <span class="field">{{pointInTime.balance}}</span></div>
  </div>
{{/each}}
<div class="payment-wrapper">
  <div><span class="field">{{zeroInterestEnd}}</span></div>
  <div>Zero Interest Rate Ends</div>
</div>